:root {
    /* Primary Colors */
    --bright-blue: hsl(220, 98%, 61%);
    --check-bg: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* Dark Theme (Default) */
    --bg-body: hsl(235, 21%, 11%);
    --bg-card: hsl(235, 24%, 19%);
    --text-main: hsl(234, 39%, 85%);
    --text-hover: hsl(236, 33%, 92%);
    --text-muted: hsl(234, 11%, 52%);
    --text-completed: hsl(233, 14%, 35%);
    --border-color: hsl(237, 14%, 26%);
    --header-img: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(images/bg-desktop-dark.jpg);
    
}

.light-theme {
    --bg-body: hsl(0, 0%, 98%);
    --bg-card: hsl(0, 0%, 100%);
    --text-main: hsl(235, 19%, 35%);
    --text-hover: hsl(235, 19%, 35%);
    --text-muted: hsl(236, 9%, 61%);
    --text-completed: hsl(233, 11%, 84%);
    --border-color: hsl(220, 3%, 82%);
    --header-img: url(images/bg-desktop-light.jpg);
    
    
}
.todotitle h1 {
    position: relative;
    
    transition: color 0.3s ease; 
    text-decoration: none;
}


.todotitle h1::after {
    content: "DODO";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: white; 
    font-size: 40px; 
    font-weight: 700;
    letter-spacing: 15px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    text-shadow: #ffffff 0 0 15px;
}

/* 3. Hover state: Make the original text disappear by changing its color */
.todotitle:hover h1 {
    
    color: transparent; 
}

.todotitle:hover h1::after {
    
    opacity: 1;
    transform: translateY(-2px);
}
/* .todotitle {
    letter-spacing: 15px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}   
.todotitle:hover {
    color: var(--text-hover);
    cursor: pointer;
    text-shadow: #ffffff 0 0 15px;
    text-decoration: !underline;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    transition: background-color 1s ease;
    min-height: 100vh;
    font-size: 18px;
    
}

/* Background Header */
@keyframes slowPan {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* 2. Apply it to your header background */
.bg-image {
    /* Keep existing styles like height, background-size, etc. */
    height: 300px;
    background-size: 150% 150%; /* Make the background larger than the container */
    background-position: center;
    z-index: -1;
    position: absolute;
    
    width: 100%; /* <-- ADD THIS LINE */
    top: 0;      /* ADD these to pin it to the top */
    left: 0;     /* ADD these to pin it to the left */
    transition: opacity 1s ease; /* This creates the smooth fade */
    /* Apply the animation */
    animation: slowPan 60s linear infinite alternate; /* 60s makes it very slow */
}

/* for static image */

/* .bg-image {
    height: 300px;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: opacity 1s ease /* This creates the smooth fade }*/
 

.bg-dark-img {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url('images/bg-desktop-dark.jpg');
    opacity: 1; /* Visible by default in dark mode */
}

.bg-light-img {
    background-image: url('images/bg-desktop-light.jpg');
    opacity: 0; /* Hidden by default in dark mode */
}
body.light-theme .bg-dark-img {
    opacity: 0;
}

body.light-theme .bg-light-img {
    opacity: 1;
}


.container {
    width: 100%;
    max-width: 540px;
    margin: 70px auto;
    padding: 0 24px;
    
    
}

/* Header */
.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    
}

.todo-header h1 {
    letter-spacing: 15px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    
}
/* for theme icon rotation  */
#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    
}
#theme-toggle .icon-sun
 {
    transition: transform 0.4s ease, fill 0.3s ease;
    transform-origin: center; 
    
}

#theme-toggle:hover .icon-sun {
    fill: var(--bright-blue);
    transform: rotate(100deg); 
    

}

.light-theme .icon-sun { display: none; }
.light-theme .icon-moon { display: block; fill: #484b6a; }
.dark-theme .icon-sun { display: block; }
.dark-theme .icon-moon { display: none; }

/* Input Area */
@keyframes inputGlow {
    0% { border-color: #ff357a; box-shadow: 0 0 5px rgba(160, 96, 117, 0.5); } /* Pink */
    33% { border-color: #a39f73; box-shadow: 0 0 10px rgba(255, 249, 199, 0.7); } /* Yellow */
    66% { border-color: #62b7fc; box-shadow: 0 0 5px rgba(46, 76, 101, 0.5); } /* Blue */
    100% { border-color: #f5719d; box-shadow: 0 0 5px rgba(124, 59, 81, 0.5); } /* Back to Pink */
}
.todo-input-wrapper {
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;
    
    /* Give it a solid border to animate */
    border: 1px solid transparent; 
    
    /* Apply the continuous animation */
    animation: inputGlow 6s linear infinite; /* 6s duration, runs forever */
}

/* static todo input wrapper  */
/* .todo-input-wrapper {
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
} */

.circle-indicator {
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    flex-shrink: 0;
    
}

#todo-input {
    
    background: transparent;
    border: none;
    color: var(--text-main);
    font-family: inherit;
    font-size: 18px;
    width: 100%;
    outline: none;
    padding-top: 4px; /* text alignment fix */
}

/* Todo List Box */
.todo-box {
    background-color: var(--bg-card);
    border-radius: 5px;
    box-shadow: 0 35px 50px -15px rgba(0,0,0,0.3);
}

ul {
    list-style: none ;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;

   
}

.todo-item:hover .delete-btn {
    opacity: 1;
}

.dragging {
    opacity: 0.5;
    background-color: var(--bg-card); /* Keeps background consistent */
    border: 2px dashed var(--text-muted); /* Visual cue */
}
/* Custom Checkbox Logic */
.check-circle {
    width: 24px;
    height: 24px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    background: transparent;
    position: relative;
}

.check-circle:hover {
    border-color: #747272; 
    /* Ideally a gradient border, but simple CSS border color is easier for pure CSS */
}

.todo-item.completed .check-circle {
    background: var(--check-bg);
    border-color: transparent;
}

.todo-item.completed .check-circle::after {
    content: url(images/icon-check.svg);
    display: block;
    margin-top: 2px;
}

.todo-text {
    flex-grow: 1;
    color: var(--text-main);
    padding-top: 5px;
}

.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: var(--text-completed);
}

.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Footer & Filters */
.todo-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    font-size: 14px;
    color: var(--text-muted);
    position: relative;
}

.filters {
    display: flex;
    gap: 15px;
}

.filter-btn {
    background: none;
    border: none;
    font-family: inherit;
    font-weight: 700;
    color: var(--text-muted);
    cursor: pointer;
    transition: color 0.2s;
}

.filter-btn:hover {
    color: var(--text-hover);
}

.filter-btn.active {
    color: var(--bright-blue);
}

#clear-completed:hover {
    color: var(--text-hover);
    cursor: pointer;
}

/* Mobile Specifics */
.mobile-filters-box {
    display: none;
    margin-top: 16px;
    padding: 15px;
    justify-content: center;
}

.drag-help {
    text-align: center;
    margin-top: 40px;
    color: var(--text-muted);
    font-size: 14px;
}
@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#mystery-btn {
    padding: 5px 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    /* The gradient colors: Pink, Yellow, Blue */
    background: linear-gradient(45deg, #ff357a, #fff172, #2196f3);
    background-size: 300% 300%; /* Make gradient big so we can move it */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    
    
    
}


#mystery-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ff357a;
    animation: gradient-move 2s ease infinite;
}

#clear-completed {
    background: none;
    border: none;
    font-family: inherit;
    color: var(--text-muted);
    
    
}
.todo-input-wrapper,
.todo-box,
.todo-item,
.filter-btn {
    transition: background-color 0.8s ease, color 0.8s ease, border-color 0.8s ease;
}

.author {
    text-align: center;
    margin-top: 30px;
    color: var(--text-muted);
    font-size: 14px;
}
.author:hover {
    color: var(--text-hover);
    cursor: pointer;

}

/* Responsive */
@media (max-width: 600px) {
    .desktop-filters {
        display: none;
    }
    
    .mobile-filters-box {
        display: flex;
    }
}
